-
    const commercialCulturalCivic = [
        {
            type: 'default',
            image: '/assets/img/works/parking-decking-shanghi/thumb.jpg',
            name: 'Parking Decking Shanghi',
            location: 'Kano, Nigeria',
            href: '/works/architecture/commercial-cultural-civic/parking-decking-shanghi.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/cobb-count/thumb.jpg',
            name: 'Cobb Count - Diagnosis Centre',
            location: 'Florida',
            href: '/works/architecture/commercial-cultural-civic/cobb-count.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/wose-ii/thumb.jpg',
            name: 'Wose II',
            location: 'Florida',
            href: '/works/architecture/commercial-cultural-civic/wose-ii.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/royal-palace-uae/thumb.jpg',
            name: 'Royal Palace - UAE',
            location: 'Abu Dhabi',
            href: '/works/architecture/commercial-cultural-civic/royal-palace-uae.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/1st-victoria-bank/thumb.jpg',
            name: '1st Victoria Bank',
            location: 'Florida',
            href: '/works/architecture/commercial-cultural-civic/1st-victoria-bank.html',
        }
    ]