-
    const hospitality = [
        {
            type: 'default',
            image: '/assets/img/works/condo-uae/thumb.jpg',
            name: 'Condo - UAE',
            location: 'Miami',
            href: '/works/architecture/hospitality/condo-uae.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/atlanta-ga/thumb.jpg',
            name: 'Atlanta - GA',
            location: 'Miami',
            href: '/works/architecture/hospitality/atlanta-ga.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/delay-florida/thumb.jpg',
            name: 'Delay Florida',
            location: 'Florida',
            href: '/works/architecture/hospitality/delay-florida.html',
        }
    ]
