-
    const hospitality = [
        {
            type: 'default',
            image: '/assets/img/works/condo-uae/thumb.jpg',
            name: 'Condo - UAE',
            location: 'Miami',
            href: '/works/architecture/hospitality/condo-uae.html',
        }
    ]
