extends /layouts/layout_work.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Colorado Estate Wose II")

block body-menu
    include /components/menu.pug
    -
        const menu = makeCommonMenu(0)
        const submenu = makeSubCommonMenu(0, -1)

block body-data
    -
        const article = {
            title: 'Colorado Estate Wose II',
            subtitle: 'Colorado',
            slug: 'colorado-estate-wose-ii',
            header: '/assets/img/works/colorado-estate-wose-ii/header.jpg',
            description: [
                'The concept of the Colorado Street Wose II Incorporating a raft of modern colonial style house design ideas into an imposing and stately project, this property reflects the majesty of the Colorado setting while also providing the intimate spaces for everyday living.',
            ],
            attrs: [
                { name: "Location", value: "Colorado" },
                { name: "Type", value: "House - Residential" },
                { name: "Site Area", value: "± 3,200 m²" },
                { name: "GFA", value: "± 9,480 m²" },
                { name: "Height", value: "2nd Floor" },
                { name: "Service", value: "Architecture & Interior Design" },
                { name: "Status", value: "On Construction" },
            ],
            sections: [
                {
                    type: 'two-images',
                    image1: '/assets/img/works/colorado-estate-wose-ii/content_1_1.jpg',
                    image2: '/assets/img/works/colorado-estate-wose-ii/content_1_2.jpg'
                },
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/colorado-estate-wose-ii/content_2.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'This project has central point of interest because the shape of building has center and symmetric space to receive the guest. The space of interior also describes the zonation area from public to private area it’s mean that the users of this house can comfort to do the activity in house.'
                },
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/colorado-estate-wose-ii/content_3.jpg'
                },
            ]
        }
