extends /layouts/layout_work.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Grayshefield St. Petersburge Fl.")

block body-menu
    include /components/menu.pug
    -
        const menu = makeCommonMenu(0)
        const submenu = makeSubWorkMenu(0, -1)

block body-data
    -
        const article = {
            title: 'Grayshefield St. Petersburge Fl.',
            subtitle: 'Florida',
            slug: 'grayshefield-st-petersburge-fl',
            header: '/assets/img/works/grayshefield-st-petersburge-fl/header.jpg',
            description: [
                'Grayshefield St. Petersburge Fl. is A contemporary style house using all concrete construction with innovative exterior architecture that plays with shape and volume. Balconies and open areas in both levels bring the outside beauty into the living environment, creating a unique experience.',
            ],
            attrs: [
                { name: "Location", value: "Florida" },
                { name: "Type", value: "Residential" },
                { name: "Site Area", value: "± 3,260 m²" },
                { name: "GFA", value: "± 5,830 m²" },
                { name: "Height", value: "2nd Floor" },
                { name: "Service", value: "Architecture" },
                { name: "Status", value: "On Construction" },
            ],
            sections: [
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/grayshefield-st-petersburge-fl/content_1.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'Blank spaces in your homeare important when it comes to maintaining that clean, airy look. There\'s one major area in every house that almost always remains untapped, and it\'s a great opportunity to flex your decorating muscles: the ceiling.'
                },
                {
                    type: 'full-image',
                    image: '/assets/img/works/grayshefield-st-petersburge-fl/content_2.jpg'
                },
                {
                    type: 'two-images',
                    image1: '/assets/img/works/grayshefield-st-petersburge-fl/content_3_1.jpg',
                    image2: '/assets/img/works/grayshefield-st-petersburge-fl/content_3_2.jpg'
                },
            ]
        }
