-
    const residential = [
        {
            type: 'default',
            image: '/assets/img/works/colorado-estate-wose-ii/thumb.jpg',
            name: 'Colorado Estate Wose II',
            location: 'Colorado',
            href: '/works/architecture/residential/colorado-estate-wose-ii.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/ocean-condo-west-palm-beach/thumb.jpg',
            name: 'Ocean Condo West Palm Beach',
            location: 'Colorado',
            href: '/works/architecture/residential/ocean-condo-west-palm-beach.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/belvue-condo/thumb.jpg',
            name: 'Belvue Condo',
            location: 'Bellevue, Washington DC',
            href: '/works/architecture/residential/belvue-condo.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/troon-norh-arizona/thumb.jpg',
            name: 'Troon Norh Arizona',
            location: 'Arizona',
            href: '/works/architecture/residential/troon-norh-arizona.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/grayshefield-st-petersburge-fl/thumb.jpg',
            name: 'Grayshefield St. Petersburge Fl.',
            location: 'Florida',
            href: '/works/architecture/residential/grayshefield-st-petersburge-fl.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/marbella-spain/thumb.jpg',
            name: 'Marbella-Spain',
            location: 'Miami',
            href: '/works/architecture/residential/marbella-spain.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/private-estate/thumb.jpg',
            name: 'Private Estate',
            location: 'Florida',
            href: '/works/architecture/residential/private-estate.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/east-cobb-estate/thumb.jpg',
            name: 'East Cobb Estate',
            location: 'East Cobb',
            href: '/works/architecture/residential/east-cobb-estate.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/palm-beach-middle-rd/thumb.jpg',
            name: 'Palm Beach - Middle Rd.',
            location: 'Corracchia',
            href: '/works/architecture/residential/palm-beach-middle-rd.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/grand-bahama-palm-beach/thumb.jpg',
            name: 'Grand Bahama Palm Beach',
            location: 'Miami',
            href: '/works/architecture/residential/grand-bahama-palm-beach.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/rod-stewart-palm-beach/thumb.jpg',
            name: 'Rod Stewart Palm Beach',
            location: 'Palm Beach, Florida',
            href: '/works/architecture/residential/rod-stewart-palm-beach.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/tosca-condonium-west-palm/thumb.jpg',
            name: 'Tosca Condonium West Palm',
            location: 'Africa',
            href: '/works/architecture/residential/tosca-condonium-west-palm.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/multi-familu-belmont-i/thumb.jpg',
            name: 'Multi Familu - Belmont I',
            location: 'Belmont',
            href: '/works/architecture/residential/multi-familu-belmont-i.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/bel-air-ca/thumb.jpg',
            name: 'Bel-Air CA',
            location: 'Kebbi',
            href: '/works/architecture/residential/bel-air-ca.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/atlanta-residence/thumb.jpg',
            name: 'Atlanta Residence',
            location: 'Tuscan',
            href: '/works/architecture/residential/atlanta-residence.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/holyfield-atlanta/thumb.jpg',
            name: 'Holyfield, Atlanta',
            location: 'Florida',
            href: '/works/architecture/residential/holyfield-atlanta.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/dallas-austin-atlanta/thumb.jpg',
            name: 'Dallas Austin Atlanta',
            location: 'Atlanta',
            href: '/works/architecture/residential/dallas-austin-atlanta.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/abuja-highrise-apartment/thumb.jpg',
            name: 'Abuja Highrise Apartment',
            location: 'Abuja',
            href: '/works/architecture/residential/abuja-highrise-apartment.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/west-palm-beach/thumb.jpg',
            name: 'West Palm Beach',
            location: 'West Palm Beach',
            href: '/works/architecture/residential/west-palm-beach.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/palm-beach-shores/thumb.jpg',
            name: 'Palm Beach Shores',
            location: 'Palm Beach',
            href: '/works/architecture/residential/palm-beach-shores.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/park-land-villa/thumb.jpg',
            name: 'Park Land Villa',
            location: 'Park Land',
            href: '/works/architecture/residential/park-land-villa.html',
        }
    ]