-
    const carousel = [
        { name: 'Troon Norh Arizona', location: 'Arizona', src: '/assets/img/works/troon-norh-arizona/header.jpg' },
        { name: 'Ocean Condo West Palm Beach', location: 'West Palm Beach', src: '/assets/img/works/ocean-condo-west-palm-beach/header.jpg' },
        { name: 'Condo - UAE', location: 'Miami', src: '/assets/img/works/condo-uae/header.jpg' },
        { name: 'Dolce', location: 'Miami', src: '/assets/img/works/dolce/header.jpg' },
        { name: 'Villa Belmonte', location: 'Belmonte', src: '/assets/img/works/villa-belmonte/header.jpg' },
        { name: 'Marbella-Spain', location: 'Miami', src: '/assets/img/works/marbella-spain/header.jpg' },
        { name: 'Aquarius Tower Atlanta', location: 'Atlanta', src: '/assets/img/works/aquarius-tower-atlanta/header.jpg' },
        { name: 'Abu Dhabi Residential', location: 'Abu Dhabi', src: '/assets/img/works/abu-dhabi-residential/header.jpg' },
        { name: 'Colorado Estate Wose II', location: 'Colorado', src: '/assets/img/works/colorado-estate-wose-ii/header.jpg' },
        { name: 'Belvue Condo', location: 'Bellevue, Washington DC', src: '/assets/img/works/belvue-condo/header.jpg' },
        { name: 'Grayshefield St. Petersburge Fl.', location: 'Florida', src: '/assets/img/works/grayshefield-st-petersburge-fl/header.jpg' },
        { name: 'Miami Hotel Condo', location: 'Miami', src: '/assets/img/works/miami-hotel-condo/header.jpg' }
    ]