-
    const interiorDesign = [
        {
            type: 'default',
            image: '/assets/img/works/colorado-estate-wose-ii/thumb.jpg',
            name: 'Colorado Estate Wose II',
            location: 'Colorado',
            href: '/works/interior-design/colorado-estate-wose-ii.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/pebble/thumb.jpg',
            name: 'Pebble',
            location: 'Pebble',
            href: '/works/interior-design/pebble.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/park-land-villa/thumb.jpg',
            name: 'Park Land Villa',
            location: 'Park Land',
            href: '/works/interior-design/park-land-villa.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/palm-beach-middle-rd/thumb.jpg',
            name: 'Palm Beach - Middle Rd.',
            location: 'Corracchia',
            href: '/works/interior-design/palm-beach-middle-rd.html',
        }
    ]