extends /layouts/layout_work.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Abu Dhabi Residential")

block body-menu
    include /components/menu.pug
    -
        const menu = makeCommonMenu(0)
        const submenu = makeSubWorkMenu(0, -1)

block body-data
    -
        const article = {
            title: 'Abu Dhabi Residential',
            subtitle: 'Abu Dhabi',
            slug: 'abu-dhabi-residential',
            header: '/assets/img/works/abu-dhabi-residential/header.jpg',
            description: [
                'Abu Dhabi Residential has A dramatically styled new residence for Royalty, crafted by modern architects to incorporate new technology within classic Islamic exterior architecture. Space, luxury and technology come together to create a living experience unlike anything else.',
            ],
            attrs: [
                { name: "Location", value: "Abu Dhabi" },
                { name: "Type", value: "Mixed Use Building (Hotel, Office, Condotel, Parking Building)" },
                { name: "Site Area", value: "± 5,000 m²" },
                { name: "GFA", value: "± 32,500 m²" },
                { name: "Height", value: "15th Floor" },
                { name: "Service", value: "Architecture & Interior Design" },
                { name: "Status", value: "Proposal Design on 2018" },
            ],
            sections: [
                {
                    type: 'two-images',
                    image1: '/assets/img/works/abu-dhabi-residential/content_1_1.jpg',
                    image2: '/assets/img/works/abu-dhabi-residential/content_1_2.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'Users can do many activity in one area because there are many functional building in one area like office, hotel, then users can stay longer in Condominium building. This Project has a futuristic facility to treat the Users with infinite pool in roof top and others leisure. Ground level plazas and pedestrian streets activate both edges of the central retail pavilion and are lined with retail and restaurants.'
                },
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/abu-dhabi-residential/content_2.jpg'
                },
                {
                    type: 'full-image',
                    image: '/assets/img/works/abu-dhabi-residential/content_3.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'The development also features a large outdoor room covered by a community roof garden and skypool area. A series of plazas and covered public spaces provide extra space for office occupants to gather and interact. There is covered dining space which activates the public realm and can be enjoyed by occupants throughout the week.'
                },
                {
                    type: 'two-images',
                    image1: '/assets/img/works/abu-dhabi-residential/content_4_1.jpg',
                    image2: '/assets/img/works/abu-dhabi-residential/content_4_2.jpg'
                }
            ]
        }
