-
    const masterPlanning = [
        {
            type: 'default',
            image: '/assets/img/works/lake-city-nigeria/thumb.jpg',
            name: 'Lake City Nigeria',
            location: 'Nigeria',
            href: '/works/master-planning/lake-city-nigeria.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/mountain-of-fire-and-miracle-park/thumb.jpg',
            name: 'Mount of Fire and Miracle Park',
            location: 'America',
            href: '/works/master-planning/mountain-of-fire-and-miracle-park.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/orchid-bay/thumb.jpg',
            name: 'Orchid Bay',
            location: 'Orchid Bay',
            href: '/works/master-planning/orchid-bay.html',
        },
        {
            type: 'default',
            image: '/assets/img/works/bellmonte-city-park/thumb.jpg',
            name: 'Bellmonte City Park',
            location: 'Bellmonte',
            href: '/works/master-planning/bellmonte-city-park.html',
        }
    ]