extends /layouts/layout_works.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Work > Architecture > Commercial-Cultural & Civic")

block body-menu
    include /components/menu.pug
    -
        const menu = makeCommonMenu(0)
        const submenu = makeSubWorkMenu(0, 4)

block body-data 
    include /components/data/work/architecture/commercial-cultural-civic.pug
    - const articleItems = [...commercialCulturalCivic]
