extends /layouts/layout_works.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Work > Mixed Use")

block body-menu
    include /components/menu/work/architecture_mixed-use.pug

block body-data 
    -
        const articleItems = [
            {
                type: 'large',
                image: '/assets/img/works/abu-dhabi-residence/header.jpg',
                name: 'Abu Dhabi Residence',
                location: 'Abu Dhabi',
                href: '/works/architecture/mixed-use/abu-dhabi-residence.html',
            },
            {
                type: 'none',
                image: '/assets/img/works/villa-belmonte/header.jpg',
                name: 'Villa Belmonte',
                location: 'Belmonte',
                href: '/works/architecture/mixed-use/villa-belmonte.html',
            },
            {
                type: 'none',
                image: '/assets/img/works/miami-condonium/header.jpg',
                name: 'Miami Condonium',
                location: 'Miami',
                href: '/works/architecture/mixed-use/miami-condonium.html',
            }
        ]
