extends /layouts/layout_works.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Work > Mixed Use")

block body-menu
    include /components/menu/work/architecture_mixed-use.pug

block body-data 
    include /components/data/article_architecture_mixed-use.pug
    - const articleItems = [...mixedUse]
