extends /layouts/layout_works.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Work > Selected Work")

block body-menu
    include /components/menu/work/architecture_selected-work.pug

block body-data 
    include /components/data/article_architecture.pug
    - const articleItems = [...architecture]
