extends /layouts/layout_works.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Work > Selected Work")

block body-menu
    include /components/menu/work/architecture_selected-work.pug

block body-data 
    -
        const articleItems = [
            // mixed-use
            {
                type: 'default',
                image: '/assets/img/works/abu-dhabi-residential/thumb.jpg',
                name: 'Abu Dhabi Residential',
                location: 'Abu Dhabi',
                href: '/works/architecture/mixed-use/abu-dhabi-residential.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/palm-beach-florida/thumb.jpg',
                name: 'Palm Beach, Florida',
                location: 'Palm Beach, Florida',
                href: '/works/architecture/mixed-use/palm-beach-florida.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/trump-plaza/thumb.jpg',
                name: 'Trump Plaza',
                location: 'West Palm Beach',
                href: '/works/architecture/mixed-use/trump-plaza.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/villa-belmonte/thumb.jpg',
                name: 'Villa Belmonte',
                location: 'Belmonte',
                href: '/works/architecture/mixed-use/villa-belmonte.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/miami-hotel-condo/thumb.jpg',
                name: 'Miami Hotel Condo',
                location: 'Miami',
                href: '/works/architecture/mixed-use/miami-hotel-condo.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/aquarius-tower-atlanta/thumb.jpg',
                name: 'Aquarius Tower Atlanta',
                location: 'Atlanta',
                href: '/works/architecture/mixed-use/aquarius-tower-atlanta.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/dolce/thumb.jpg',
                name: 'Dolce',
                location: 'Miami',
                href: '/works/architecture/mixed-use/dolce.html',
            },
            // residential
            {
                type: 'default',
                image: '/assets/img/works/colorado-estate-wose-ii/thumb.jpg',
                name: 'Colorado Estate Wose II',
                location: 'Colorado',
                href: '/works/architecture/residential/colorado-estate-wose-ii.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/ocean-condo-west-palm-beach/thumb.jpg',
                name: 'Ocean Condo West Palm Beach',
                location: 'Colorado',
                href: '/works/architecture/residential/ocean-condo-west-palm-beach.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/belvue-condo/thumb.jpg',
                name: 'Belvue Condo',
                location: 'Bellevue, Washington DC',
                href: '/works/architecture/residential/belvue-condo.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/troon-norh-arizona/thumb.jpg',
                name: 'Troon Norh Arizona',
                location: 'Arizona',
                href: '/works/architecture/residential/troon-norh-arizona.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/grayshefield-st-petersburge-fl/thumb.jpg',
                name: 'Grayshefield St. Petersburge Fl.',
                location: 'Arizona',
                href: '/works/architecture/residential/grayshefield-st-petersburge-fl.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/marbella-spain/thumb.jpg',
                name: 'Marbella-Spain',
                location: 'Miami',
                href: '/works/architecture/residential/marbella-spain.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/east-cobb-estate/thumb.jpg',
                name: 'East Cobb Estate',
                location: 'East Cobb',
                href: '/works/architecture/residential/east-cobb-estate.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/palm-beach-middle-rd/thumb.jpg',
                name: 'Palm Beach - Middle Rd.',
                location: 'Corracchia',
                href: '/works/architecture/residential/palm-beach-middle-rd.html',
            },
            {
                type: 'default',
                image: '/assets/img/works/grand-bahama-palm-beach/thumb.jpg',
                name: 'Grand Bahama Palm Beach',
                location: 'Miami',
                href: '/works/architecture/residential/grand-bahama-palm-beach.html',
            }
        ]
