-
    const commonMenu = [
        { text: 'WORK', href: '/works/architecture/selected-work.html', active: false },
        { text: 'PROFILE', href: '#', active: false },
        { text: 'CONTACT', href: '#', active: false }
    ]

    const commonSubMenu = [
        {
            text: 'ARCHITECTURE',
            href: '/works/architecture/selected-work.html',
            active: false,
            subs: [
                { text: 'Selected Work', href: '/works/architecture/selected-work.html', active: false },
                { text: 'Mixed Use', href: '/works/architecture/mixed-use.html', active: false },
                { text: 'Residential', href: '/works/architecture/residential.html', active: false },
                { text: 'Hospitality', href: '/works/architecture/hospitality.html', active: false },
                { text: 'Commercial-Cultural & Civic', href: '/works/architecture/commercial-cultural-civic.html', active: false }
            ]
        }
    ]

    function makeCommonMenu(selectedIndex) {
        let menu = commonMenu
        menu[selectedIndex].active = true
        menu[selectedIndex].href = '#'

        return menu
    }

    function makeSubCommonMenu(selectedIndex, selectedSubIndex) {
        let submenu = commonSubMenu 
        submenu[selectedIndex].active = true

        if (submenu[selectedIndex].subs.length > 0 && selectedSubIndex != -1) {
            submenu[selectedIndex].subs[selectedSubIndex].active = true
            submenu[selectedIndex].subs[selectedSubIndex].href = '#'
        }

        return submenu
    }
