extends /layouts/layout_work.pug

block title
    include /mixins/site_title.pug
    +site-title(title, "Palm Beach - Middle Rd.")

block body-menu
    include /components/menu.pug
    -
        const menu = makeCommonMenu(0)
        const submenu = makeSubCommonMenu(2, -1)

block body-data
    -
        const article = {
            title: 'Palm Beach - Middle Rd.',
            subtitle: 'Corracchia',
            slug: 'palm-beach-middle-rd',
            header: '/assets/img/works/palm-beach-middle-rd/header.jpg',
            description: [
                'Palm Beach - Middle Rd. is A superb Mediterranean villa style estate with exceptional fit and finish that creates a spectacular equestrian property embracing both the beautiful surroundings and the finest of living standards. Superb interior style contrasts the minimal Mediterranean architecture, creating a unique ambience for the property.',
            ],
            attrs: [
                { name: "Location", value: "Corracchia" },
                { name: "Type", value: "Residential (Condo Building)" },
                { name: "Site Area", value: "± 1,330 m²" },
                { name: "GFA", value: "± 1,960 m²" },
                { name: "Height", value: "2nd Floor" },
                { name: "Service", value: "Architecture" },
                { name: "Status", value: "On Constuction" },
            ],
            sections: [
                {
                    type: 'two-images',
                    image1: '/assets/img/works/palm-beach-middle-rd/content_1_1.jpg',
                    image2: '/assets/img/works/palm-beach-middle-rd/content_1_2.jpg'
                },
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/palm-beach-middle-rd/content_2.jpg'
                },
                {
                    type: 'full-image',
                    image: '/assets/img/works/palm-beach-middle-rd/content_3.jpg'
                }
            ]
        }
