mixin navbar-container 
    .header-col1.header-col.fl.right
        a(href='/' target='_self')
            img(src='/assets/img/logo.png', alt=`d'Antonio`, width=80, height=80)
    .header-col2.header-col.fl.home
        if block 
            block
    .cf 
