doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        
        block title

        link(href=css.style, rel='stylesheet', type='text/css')

        block head-style

        script(src=js.jquery, type='text/javascript')

        block head-script

        include /components/favicon.pug

    block body